@import url(uno.css);
@import url(monokai.css);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic);

/* Modifications */

pre.highlight,
.highlight pre {
  padding: 10px;
}

pre.highlight code,
.highlight pre code {
  white-space: pre-wrap;
}

.btn, 
.navigation__item a {
  margin: 5px 0;
  white-space: nowrap;
}

.pagination__page-number {
  display: inline-block;
  padding: 10px;
}

.categories a,
.tags a {
  border: 1px solid #e25440;
  border-radius: 20px;
  color: #e25440;
  display: inline-block;
  font-size: 12px;
  margin: 5px 0;
  padding: 5px 10px;
  text-shadow: none;
  white-space: nowrap;
}

.post-meta__tags {
  font-size: 12px;
  padding: 0 5px;
}

.footer__copyright {
    margin: 0 20px 10px;
}

/*.user-image {
  margin-bottom: 1.2em;
  position: relative;
  width: 100px;
  height: 100px;
  border: 3px solid #fff;
  border-radius:100%;
}*/


/*
 * Block Quotes
 */

blockquote.pull 
{
  border-radius: 0;
  border: 0;
  border-left: 10px;
  border-style: solid;
  /*margin: 1.5em 10px;*/
  padding: 0.5em 10px;
  width: 100%;
}

blockquote.pull.red
{
  background: #fbdfdf;
  border-color: #e4003d;
  color: #e4003d;
}

blockquote.pull.blue
{
  background: #b4d8ff;
  border-color: #00499a;
  color: #00499a;
}

blockquote.pull.green
{
  background: #93eab7;
  border-color: #00692c;
  color: #00692c;
}

blockquote.pull.quote
{
  font-size: 1.4em;
  width:60%;
  margin:50px auto;
  font-style:italic;
  color: #555555;
  padding:1.2em 30px 1.2em 75px;
  border-color: #78C0A8;
  line-height:1.6;
  position: relative;
  background:#EDEDED;
}

blockquote.pull.quote em
{
  text-align: left;
  font-weight: bold;
  display: block;
  margin-top: 1.0em;
}

blockquote.pull.quote::before
{
  font-family:Arial;
  content: "\201C";
  color:#78C0A8;
  font-size:4em;
  position: absolute;
  left: 10px;
  top:-10px;
}

blockquote.pull.quote::after
{
  content: '';
}

/*
 * Table of Contents 
 */

#markdown-toc
{
    font-size: 0.9em;
    background: #f7f7f7;
    padding: 0.5em 1em 0.5em 2em;
}

#markdown-toc li
{
    list-style: none;
}

ul#markdown-toc 
{
  margin: 0;
}

ul#markdown-toc > li > a::before 
{
  content: '{ ';
  color: #333333;
}

ul#markdown-toc > li > a 
{
  font-size: 1.4em;
  line-height: 2.4em;
}

ul#markdown-toc > li > ul > li > a:before
{
  content: '# ';
  color: #333333;
}

ul#markdown-toc > li > ul > li > ul > li > a:before
{
  content: '> ';
  color: #333333;
}

#markdown-toc:before
{
  content: "Table of Contents";
  display: list-item;
  list-style: none;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  font-size: 2em;
  font-family: "Roboto Slab", serif;
}

a {
    color: #e4003d
}

.panel-cover--overlay 
{
  background: #272822;
  /*background: url('../images/dark-triangles.png');*/
}

.panel-cover
{
	/*display: block;
	position: fixed;
	z-index: 900;
	width: 100%;
	max-width: none;
	height: 100%;
	background-size: cover;
  */
	/*background: url(../images/dark-triangles.png) top left repeat #666666;*/
}

.panel-title.panel-cover__title
{
  font-size: 1.5em;
}

.panel-title.panel-cover__title::after 
{
    content: '~ ';
    color: #f92672;
}

.panel-cover__description
{
    width: 90%;
    margin: 0 10px;
    text-align: left;
}

.panel-cover__description span
{
  display: block;
}

.panel-cover__description span::before
{
    content: '$ ';
    color: #f92672;
}

.post hr 
{
  display: block;
  width: 100%;
  margin: 2em 0;
  border-top: 1px solid #dddddd;
}

code 
{
  background: #f0f2f1;
  color: #00529b;
  padding: 1px 5px;
  border-radius: 3px;
  border: 1px solid #b4d8ff;
}

/*
 * Headings
 */

article h1 /* Title */
{
  font-size: 2.9em;
}


article h2
{
  font-size: 2.4em;  
  margin-left: -25px;
}

article h2:before {
   content: "{ ";
   color: #f92672;
}

article h3
{
  font-size: 2.0em;
}

article h3:before {
   content: "# ";
   color: #f92672;
}

article h4
{
  font-size: 1.5em;
}

article h4:before {
   content: "> ";
}

article h2, article h3, article h4 
{
  margin-top: 1.0em;  
}


/*
 * Blinker/Post title
 */

/*article h1 span.prompt::before {
   content: '$ echo "';
   color: #f92672;
   font-size: 0.8em;
}*/

/*article h1 span.prompt::after {
   content: '"';
   color: #f92672;
   font-size: 0.8em;
}*/

.blinker {
  -webkit-animation-name: blinker;
          animation-name: blinker;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(1, 0, 0, 1);
          animation-timing-function: cubic-bezier(1, 0, 0, 1);
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  display: inline-block;
  width: 2px;
  height: 0.8em;
  margin-left: 10px;
  /*border-radius: 3px;*/
  /*box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);*/
  background: #f92672;
}

@-webkit-keyframes blinker {
  from {
    opacity: 1.0;
  }
  to {
    opacity: 0.0;
  }
}

@keyframes blinker {
  from {
    opacity: 1.0;
  }
  to {
    opacity: 0.0;
  }
}


/* Definition List */

dl {
  padding-left: 10em !important;
  
}
dl:after {
  content: "";
  display: table;
  clear: both;
}

dt, dd {
  margin-bottom: 0.5em;
  float: left;
}
dt:last-of-type, dd:last-of-type {
  margin-bottom: 10px;
}

dt {
  font-weight: bold;
  width: 9em;
  margin-left: -10em;
  clear: left;
}
dt:after {
  content: ":";
}

dd {
  margin-left: 0;
  clear: right;
}

dl {
  background: #ffeea9;
  padding: 0.5em;
}

dt {
  padding-left: 0.5em;
}


/* Type */
abbr
{
  border-bottom: 1px dotted;
  cursor: help;
}


.btn, .navigation__item a {
    /*padding: 10px 20px;*/
    border: 1px solid #020202;
    border-radius: 0px; 
    font-size: .9em;
    font-weight: bold;
    letter-spacing: 1px;
    background: #1a1b17;
    text-shadow: none;
    color: #e25440;
    -webkit-font-smoothing: antialiased;
}

.navigation__item a, .blog-button {
    display: block;
    position: relative;
    border-color: #757575;
    color: #ffffff;
    opacity: .8;
}

.panel-cover__divider--secondary, .panel-cover__divider
{
  width: 100%;
}

.user-image {
    margin-bottom: 1.2em;
    position: relative;
    width: 100px;
    height: 100px;
    /* border: 3px solid #fff; */
    border-radius: 13%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

article p img
{
  display: block;
}


.post-list__post-title
{
    font-size: 1.60em;
    font-family: "Roboto Slab", serif;
}

.post-list__post-title::before
{
   content: 'PS C:\\>  ';
   color: #f0f2f1;
   background-color: #00499a;
   font-size: .8em;
}

.post-list__meta--date, .post-list__meta
{
    color: #c7c7c7;
    font-size: 0.9em;
}



/*rw-r--r--*/
/*stat -c "%A %n %.19x" * */