---
layout: default
---

<article class="post magazine-post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header magazine-post__header">
    <p class="magazine-kicker">
      {% if page.categories.size > 0 %}
        {{ page.categories | join: " / " }}
      {% else %}
        Article
      {% endif %}
    </p>
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta magazine-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: "%b %-d, %Y" }}
      </time>
      {% if page.author %}
      <span itemprop="author" itemscope itemtype="http://schema.org/Person">
        <span class="p-author h-card" itemprop="name">{{ page.author }}</span>
      </span>
      {% endif %}
    </p>
    {% if page.description %}
    <p class="magazine-post__dek">{{ page.description }}</p>
    {% endif %}
  </header>

  <div class="post-content e-content magazine-post__content" itemprop="articleBody">
    {{ content }}
  </div>

  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
